*{font-family: 'Raleway', sans-serif;}

body{

}

h1{
	font-size: 30px;
}

.navbar a{
	text-decoration: none;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

	background-color: black;
}
