*{font-family: 'Raleway', sans-serif;
margin-left: 0.1px;
line-height: 2;
background-color: white;
color: black;}


h1{
	font-size: 40px;
}
h1, h2{
	color: black;
}
p{
	z-index:30;
}
.hoveddel{
	padding-left: 20%;
	padding-right: 20%;
}

.navigation{
   overflow: hidden;
  position: fixed;
  text-align: left;
  top: 0px;
  width: 100%;
	background-color: #68d158;
	z-index: 100;
}

.navigation a{
	padding-right: 10px;
	padding-left: 10px;
	background-color: #68d158;
}
a{
	text-decoration: none;
	color: black;

 }
a:hover{
	color: #084503;
	text-decoration: underline; }


img{
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		background-color: none;
		z-index: 1;

	}


.BildeE{

position: absolute;
left: 20%;

	}

.Bilde2{
		position: absolute;
		left: 55%;
	}

	.Bilde1{

	position: absolute;
	left: 20%;
	top: 1050px;

		}

	.BildeNo{
			position: absolute;
			left: 55%;
			top: 1050px;
	}


	@media only screen and (max-width: 950px){
			.BildeE{
		padding-top: 10px;
		left:25%;
		right:30%;
		top: 400px;
		}

		.Bilde2{
			top: 1000px;
			left: 25%;
			right: 30%;}

			.Bilde1{
			left: 25%;
			top: 1200px;
			}

			.BildeNo{
				top: 1750px;
				left: 25%;
				
		}
	}

@media only screen and (max-width: 800px){
	.BildeE{
		left:17%;
		right:30%;
		top: 450px;
		}

		.Bilde2{
			left: 17%;
			right: 30%;}

			.Bilde1{
			left: 20%;
			top: 1300px;
		
			}

			.BildeNo{
				left: 20%;
				top: 1850px;
				
		}



}

	@media only screen and (max-width:599px){
	.hoveddel{ padding-left: 7%;
		padding-right: 7%;
		padding-bottom: 8%; }

		img{ width: 70%; }
}

	@media only screen and (min-width:600px){
		h1{
		padding-top: 2%;
	}
		.hoveddel {padding-left: 20%;
			padding-right: 20%;
		z-index: 20;}
	}


	img {
		width: 300px;
		background-color: none;
	}

}
